@font-face {
  font-family: "adhesive_font";
  src: url(./adhesive_font.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 96vh;
}

.header-container {
  display: flex;
  background: #EAEAEA;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
}

.header-logo {
  width: 10vw;
}

.app-title {
  font-family: 'adhesive_font', sans-serif;
  font-size: 2em;
}

.hamburger-container {
  height: 5vw;
  width: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-line-1,
.hamburger-line-2,
.hamburger-line-3 {
  background-color: black;
  width: 100%;
  height: 3px;
}

.homescreen-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-container {
  width: 50.5vw;
  height: 50.25vw;
  margin: 20vh 0 0 0;
}

.star-shape{

}

.star-text-container {
  width: 100%;
  background-image: url('./assets/yellow_burst_shape.svg');
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.star-text-day,
.star-text-day-number {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

.star-text-day-number {
  font-size: 4em;
}

.current-streak-text {
  margin: 2em 0 0 0;
}

.start-workout-btn,
.set-routine-btn,
.submit-btn {
  color: white;
  background: black;
  padding: .5em 2em;
  border-radius: 2em;
  border: none;
  font-size: 1.05em;
  font-weight: 300;
  margin: .75em 0;
}

.previous-workouts-container {
  border: 3px solid black;
  border-radius: 1em;
  height: 20vh;
  margin: 6em 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: #EAEAEA;
  padding: 4em 0;
}

.nav-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  transition: background-color .35s ease;
}

.nav-menu-container.show {
  background-color: rgba(0, 0, 0, .68);
}

#nav-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: #FFFFFF;
  width: 70%;
  height: 100%;
  margin: 0 0 0 auto;
  padding: 30vw 0 0 0;
  transform: translateX(100%);
  transition: transform .5s ease;
  opacity: 1;
  pointer-events: all;
}

#nav-menu.show {
  transform: translateX(0);
  box-shadow: 0 0 1em;
}

#nav-menu * {
  width: 75%;
  margin: 1rem 0 1rem 10vw;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 500;
  color: #231F20;
  text-align: left;
  padding: 0 0 0 .5em;
}

.nav-item {
  background: #EAEAEA;
}

.nav-link {
  display: block;
}

.daily-routine-form {
  margin: 0 0 6em 0;
}

.workout-form-container {
  width: 50%;
  margin: 20vw auto 0 auto;
}

.daily-routine-container {
  margin: 30vw 0 0 0;
  font-weight: 700;
  font-size: 1.5em;
}

.routine-list-container {
  margin: 1em auto 0 auto;
  width: 40%;
  text-align: left;
  font-weight: 400;
}

.routine-list-item {
  margin: 1em 0;
  background: #F1F1F1;
  padding: .5em 6vw;
  border-radius: 10px;
}

.routine-exercise {
  font-weight: 600;
  font-size: 1.25em;
}

.routine-details {
  font-size: .75rem;
  margin: 0 0 0 1em;
}

.no-routine-message {
  font-weight: 400;
  font-size: 1rem;
  margin: 2em 0 2em 0;
}

.current-workout-title {
  font-weight: 700;
  font-size: 1.5em;
}

.exercise-quantity {
  font-weight: 400;
  font-size: .75em;
}