body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {

}

.header-container {
  display: flex;
  background: #EAEAEA;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  width: 10vw;
}

.hamburger-container {
  height: 5vw;
  width: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-line-1,
.hamburger-line-2,
.hamburger-line-3 {
  background-color: black;
  width: 100%;
  height: 3px;
}