@font-face {
  font-family: "adhesive_font";
  src: url(./adhesive_font.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 96vh;
}

.header-container {
  display: flex;
  background: #EAEAEA;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
}

.header-logo {
  width: 10vw;
}

.app-title {
  font-family: 'adhesive_font', sans-serif;
  font-size: 2em;
}

/* .hamburger-container {
  height: 5vw;
  width: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.hamburger_div {
	cursor: pointer;
	transition: transform ease .2s;
}

.hamburger_lines,
.hamburger_div::before,
.hamburger_div::after {
	position: relative;
	display: block;
	content: "";
	background: #000000;
	height: 3px;
	width: 30px;
	border-radius: 2px;
	margin: 6px 0;
}

.rotate .hamburger_lines {
	transform: rotate(-45deg);
	transition: transform ease .35s;
}

.rotate::before {
	transform: rotate(45deg) translate(6px, 6px);
	transition: transform ease .35s;
}

.rotate::after {
	opacity: 0;
	transition: opacity ease .2s;
}
/* 
.hamburger-line-1,
.hamburger-line-2,
.hamburger-line-3 {
  background-color: black;
  width: 100%;
  height: 3px;
} */

.homescreen-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-container {
  width: 50.5vw;
  height: 50.25vw;
  margin: 20vh 0 0 0;
}

.star-shape{

}

.star-text-container {
  width: 100%;
  background-image: url('./assets/yellow_shape.svg');
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.star-text-day,
.star-text-day-number {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

.star-text-day-number {
  font-size: 4em;
}

.current-streak-text {
  margin: 2em 0 0 0;
}

.start-workout-btn,
.set-routine-btn,
.submit-btn {
  color: white;
  background: black;
  padding: .5em 2em;
  border-radius: 2em;
  border: none;
  font-size: 1.05em;
  font-weight: 300;
  margin: .75em auto;
  display: block;
  text-decoration: none;
}

.workout-completed-msg {
  color: green;
  font-size: 1.25em;
  font-weight: 600;
}

.come-back-msg {
  font-weight: 600;
  margin: .25em 0 0 0;
}

.previous-workouts-container {
  background: #EFEFEF;
  border-radius: 1em;
  min-height: 20vh;
  margin: 6em 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.previous-workouts-content {
  width: 90%;
}

.previous-workouts-title {
  margin: 2em 0;
  font-size: 1.25em;
  font-weight: 700;
  border-bottom: 2px solid black;
  padding: 0 0 .25em 0;
}

.previous-workout-item-container {
  background: rgb(218, 218, 218);
  margin: 1.5em 0;
  padding: 0em .5em 1em .5em;
  border-radius: .5em;
  border: 3px solid black;
  text-align: left;
}

.previous-workout-date {
  background: #000000;
  color: #ffffff;
  border-radius: 1em;
  transform: translateY(-50%);
  padding: .15em .75em;
  display: inline-block;
}

.previous-workout-data-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  padding: 0 2em; 
  text-align: left;
}

.view-more-challenges-button {
  width: auto;
  margin: 2em auto;
}

footer {
  background: #EAEAEA;
  padding: 4em 0;
}

.nav-menu-container,
.timer-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  transition: background-color .35s ease;
}

.nav-menu-container.show {
  background-color: rgba(0, 0, 0, .68);
}

#nav-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: #FFFFFF;
  width: 70%;
  height: 100%;
  margin: 0 0 0 auto;
  padding: 30vw 0 0 0;
  transform: translateX(100%);
  transition: transform .5s ease;
  opacity: 1;
  pointer-events: all;
}

#nav-menu.show {
  transform: translateX(0);
  box-shadow: 0 0 1em;
}

#nav-menu * {
  width: 75%;
  margin: 1rem 0 1rem 10vw;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 500;
  color: #231F20;
  text-align: left;
  padding: 0 0 0 .5em;
}

.nav-item {
  background: #EAEAEA;
}

.nav-link {
  display: block;
}

.daily-routine-form {
  margin: 0 0 6em 0;
}

.daily-routine-container {
  margin: 30vw 0 0 0;
  font-weight: 700;
  font-size: 1.5em;
}

.routine-list-container {
  margin: 1em auto 0 auto;
  width: 40%;
  text-align: left;
  font-weight: 400;
}

.routine-list-item {
  background: #F1F1F1;
  padding: .5em 6vw;
  margin: 1em 0;
  border-radius: 10px;
}

.routine-exercise {
  font-weight: 600;
  font-size: 1.25em;
}

.routine-details {
  font-size: .75rem;
  margin: 0 0 0 1em;
}

.no-routine-message {
  font-weight: 400;
  font-size: 1rem;
  margin: 2em 0 2em 0;
}

.workout-form-container {
  margin: 10em auto 0 auto;
}

.label-container {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0;
  background: #F1F1F1;
  padding: 1em 0 1em 2em;
  border-radius: 10px;
}

.current-workout-list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.current-workout-title {
  font-weight: 700;
  font-size: 1.5em;
}

.label-timer-container {

}

/* .timer-icon-text-small {
  line-height: 1rem;
  font-size: .5rem;
} */

.exercise-quantity {
  font-weight: 400;
  font-size: .75em;
}

.exercise-completion-checkbox {
  margin: auto .5em .25em .5em;
}

#success-message {
  color: green;
  font-size: 2em;
  font-weight: 700;
}

#incomplete-workout-message,
#incorrect-password-message {
  color: red;
}





.day-title {
  font-size: 2.5em;
  margin: 0 0 1rem 0;
}

.day-title-number {
  font-weight: 800;
}

.exercise-timer-container {
  /* background: gray; */
  margin: 1em 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise {
  text-align: left;
  /* background: red; */
  background: #F1F1F1;
  flex: 1;
  max-width: 60%;
  display: flex;
  border-radius: 1em;
  padding: 0 .5em 0 0;
}

.completed-exercise {
  background: #CAF4C1;
}

.exercise-label {
  padding: 1.5em .5em 1.5em .75em;
  flex-grow: 1;
  font-weight: 700;
  font-size: 1.5em;
}

.required-rep-label {
  font-weight: 400;
  font-size: .75em;
  padding: 0 0 0 .5em;
}

.exercise-label-right-side {
  width: 4em;
  position: relative;
  padding: 0 .75em 0 0;
}

.exercise-completed-check,
.rep-scroller-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.exercise-completed-check {
  color: green;
  text-align: right;
  font-weight: bold;
  line-height: .5em;
  padding: .5em 0 0 0;
}

.rep-scroller-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-rep-label {
  font-size: .75em;
  text-align: center;
  border-left: 2px solid #6B6B6B;
}

.rep-scroller {
  width: 100%;
  text-align: center;
  border-left: 2px solid #6B6B6B;
  padding: .75em 0;
}

.current-rep {
  font-size: 1.5em;
}

.temp-button-container {
  display: flex;
  justify-content: space-around;
}

.temp-button {

}

.rep-change-visual,
.rep-change-visual-timer {
  height: 2rem;
  position: absolute;
  right: 0;
  text-align: left;
  line-height: 2rem;
  font-weight: bold;
  color: green;
  opacity: 1;
  transition: all .5s ease;
}

.rep-change-visual {
  width: 18%;
}

.rep-change-visual-timer {
  width: 50%;
}

.rep-change-visual.rep-change-visual-fade {
  opacity: 0;
}

.previous-reps-container {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  display: flex;
}

.manual-rep-input {
  background: rgb(187, 187, 187);
  border: none;
  width: 2em;
  margin: 0 0 0 .5em;
}

.manual-rep-input-submit {
  color: green;
  font-size: .8em;
  font-weight: bold;
  margin: 0 0 0 auto;
}

.timer-background {
  /* background: blue; */
  height: 20px;
  width: 20%;
  position: absolute;
  right: 0;
}

.timer-icon-container {
  /* background: purple; */
  width: 50%;
  padding: 0 0 0 .75em;
}

.timer-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

.timer-top {
  width: .45rem;
  height: .15rem;
  background: rgb(104, 104, 104);
}

.timer-stem {
  width: .15rem;
  height: .075rem;
  background: rgb(104, 104, 104);
}

.timer-circle {
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid rgb(104, 104, 104);
  border-radius: 4em;
  font-weight: bold;
  color: rgb(104, 104, 104);
}

.timer-icon-text {
  line-height: 1.5rem;
  font-size: .75rem;
}

.password-input {
  margin: 1em 0;
  font-size: 1.5em;
}


/* 
.exercise-timer-container {
  background: gray;
  margin: 1em 0;
  padding: 5px;
  display: flex;
  position: relative;
}

.exercise {
  text-align: left;
  background: red;
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.timer {
  background: blue;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
} */





.stats-container{
  margin: 5vw 0 0 0;
}

.margin-for-header {
  margin: 20vw 0 0 0;
}

.disabled-btn {
  background: rgba(0, 0, 0, .1);
}

.honeyp {
  display: none;
}

.timer-container {
  background:rgba(0, 0, 0, .98);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.timer-container-red {
  background-color: red;
}

.timer-contents {

}

.timer-time-display {
  font-size: 4em;
  margin: 3em 0 0 0;
}

.timer-btns-container {
  display: flex;
  justify-content: space-around;
  margin: 2em 0 0 0;
}

.timer-back-btn,
.timer-reset-btn  {
  padding: .5em 3em;
  border-radius: 2em;
  border: 2px solid rgb(104, 104, 104);
  color: rgb(194, 194, 194);
}

.timer-back-btn {
  margin: 0 0 0 1em;
}

.timer-reset-btn {
  margin: 0 1em 0 0;
}

.white-btn {
  border: 2px solid rgb(29, 18, 18);
  color: white;
}


.hide {
  display: none;
}

.page-margin-top {
  margin-top: calc(6rem + 10vw);
}

.no-underline {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.rotate {
	transform: rotate(-90deg);
}

.rotate .hamburger_lines {
	transform: rotate(-45deg);
	transition: transform ease .35s;
}

.disable-pointer-events {
  pointer-events: none;
}